#spotlight {
  background-image: url("../img/spotlight-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  height: 100%; }
  #spotlight .bubble-container-anim {
    display: block !important; }
  #spotlight .bubble-container {
    display: none;
    position: absolute;
    z-index: 3;
    width: 1920px;
    height: 1035px;
    left: -480px; }
    #spotlight .bubble-container .hitzone {
      position: absolute;
      z-index: 3;
      left: 480px;
      width: 1440px;
      height: 1035px; }
    #spotlight .bubble-container .bubble-anim-in {
      transform: scale(1) !important; }
    #spotlight .bubble-container .bubble {
      position: absolute;
      z-index: 2;
      background-repeat: no-repeat;
      width: 390px;
      height: 390px;
      transform: scale(0.08);
      transition: transform 0.8s; }
